

.body {
    margin: 0;
    padding: 0;
}



.about.img-icon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.footer {
    margin-top: 50px;
    border-top: 1px solid #eee;
    display: flex;
    min-height: 50px;
  }
  
  .img-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  